@page
@model AnalysisofKnowledge.Api.Views.Index

@*TODO: Implement import bundle file*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    
</div>
</body>
</html>